<div class="hidden newpost">
  <center><section class="col-xl-12 w-100 py-5 display-flex flex-column align-around">
    <div class="responsivewidth">
      <center><h2>New Post</h2></center>
      <div class="form">
        <center><h3 class="responsivewidth">Please select a tag for your post</h3></center>
        <select class="responsivewidth" id="tags" >
          <option value="1">HTML</option>
          <option value="2">CSS</option>
          <option value="3">JavaScript</option>
          <option value="4">Node</option>
          <option value="5">Other</option>
        </select>
      </div>
      <div class="form">
        <textarea class="form-input responsivewidth" rows="2" cols="50" type="text" id="post-title" placeholder="enter your new posts title here!"></textarea>
      </div>

      <div class="form">
        <textarea  class="form-input responsivewidth" rows="8" cols="50" id="post-message" placeholder="enter your new post here!"></textarea>
      </div>
      <center><div class="form responsivewidth">
        <button class="btn btn-primary responsivewidth createPostButton" type="submit">Create</button>
      </div></center>
    </div>
  </section></center>
</div>