<div class="hidden newpost">
  <section class="col-xl-12 w-100 py-5 display-flex flex-column align-around">
    <div class="">
      <center><h2>New Post</h2></center>
      <div class="form">
        <h3>Please select a tag for your post</h3>
        <select class="w-100" id="tags" >
          <option value="1">HTML</option>
          <option value="2">CSS</option>
          <option value="3">JavaScript</option>
          <option value="4">Node</option>
          <option value="5">Other</option>
        </select>
      </div>
      <div class="form">
        <textarea rows="1" cols="70" class="form-input" type="text" id="post-title" placeholder="enter your new posts title here!"></textarea>
      </div>
      
      <div class="form">
        <textarea rows="8" cols="70" class="form-input" id="post-message" placeholder="enter your new post here!"></textarea>
      </div>
      <center><div class="form">
        <button class="btn btn-primary w-100 createPostButton" type="submit">Create</button>
      </div></center>
    </div>
  </section>
</div>