<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootcamp Social Hub</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="col-auto">
  <div class="flex-column flex-no-wrap w-100 bg-dark">
    <header class="display-flex p-2 m-3 text-primary">
      <h1 class="col-xl-3 text-light">
        Full Stack Bootcamp Social Hub
      </h1>
      <nav class="col-xl-9 row align-center justify-content-between">
        <div class="p-3 col-xl-3 text-lg">
          <a href="/">home</a>
        </div>
        {{#if logged_in}}
        <div class="p-3 col-xl-3 text-lg">
          <a href="/profile">profile</a>
        </div>
        <div class="col-xl-3">
          <button class="btn btn-lg btn-primary" id="logout">logout</button>
        </div>
        {{else}}
        <div class="p-3 col-xl-3">
          <button class="btn btn-lg btn-primary" id="login"><a href="/login">login</a></button>
          
        </div>
        {{/if}}
      </nav>
    </header>
  </div>

  <main class="m-5">
    {{{body}}}
  </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    <script src="/js/homepage.js"></script>
    {{/if}}
</body>

</html>