{{#each posts as |post| }}
<div class="flex-column flex-no-wrap col-xl-4">
  <div class="display-flex">
    <div class="">
      <div class="card p-4 card-rounded">
        <div class="card card-header">
          <h2>Author:{{post.user.first_name}} {{post.user.last_name}}</h2>
          <h2>{{post.title}} </h2>
        </div>
        <div class="card card-body card-rounded">
          <p>{{post.message}}</p>

        </div>
        <div class="card card-body card-rounded">
          <p>Posted On: </p>
        </div>
        <div class="card card-footer">
          <h3><a>Show Comments</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}