<div class="flex-row">
  <div class="col-xl-6">
    <h2>Sign Up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="first-name-login">First Name:</label>
        <input class="form-input" type="text" id="fname-signup" value="Mohamed" />
      </div>
      <div class="form-group">
        <label for="last-name-signup">Last Name:</label>
        <input class="form-input" type="text" id="lname-signup" value="Mohamed" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" value="mmoohhaa409912@gmail.com" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" placeholder="must be at least 6 characters" value="mm1234567" />
      </div>
      <div class="form-group">
        <button id="sign-up-button" class="btn btn-primary" type="submit">sign up</button>
      </div>
    </form>
  </div>

  <div class="col-xl-6">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" placeholder="must be at least 6 characters" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>